<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Random Number Generator</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1> Number Photo Generator </h1>
        <form action="/" method="GET">
            <!-- the for="count" in label allow user to go to the id="count" when they click label -->
            <label for="count">Enter the number of images to generate:</label>            
            <input type="number" id="count" name="countUrl" placeholder="Enter count (>=1)" required min="1">
            <button type="submit">Generate</button>            
        </form>
        <!-- in div for generate image below the form as block -->
        <div>
            <!-- in span for generate image in-line -->
            <span data-th-each="imageUrl : ${imageUrls}">
                <img data-th-src="${imageUrl}" class="pic">
            </span>
        </div>         
    </body>
</html>